body {
    font-family: sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

header {
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    text-align: left;
    padding: 15px;
}
div p{
    background-image: linear-gradient(to right top, navy, lightblue, navy);
    width: 750px;
    border-radius: 15px;
    color: black;
    padding: 15px;
}
header a{
    position: absolute;
    top: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    width: 175px;
}
.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, black, lightgrey, black);
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
    width: 120px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 15px;
}


p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 0px auto;
    max-width: 1100px;
}

article {
    padding: 15px;
    width: 400px;
    margin: 15px;
}

.article-but {
    text-decoration: none;
    background-color: #071C71;
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-size: 24px;
    width: 200px;
}
.article-but:hover{
    color: black;
    background-color: white;
}

footer a {
    margin-right: 5px;
}

footer h3 {
    font-size: 50px;
}

.info{
    display: flex;
}

footer{
    display: flex;
    background-image: linear-gradient(to right top, navy, lightblue, navy);
    border-radius: 15px;
    color: black;
    padding: 15px;
    align-items: center;
    height: 50px;
}

footer li{
    text-align: left;
}

article{
    margin: 35px;
    background-color: #162EAE;
    padding: 40px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
a{
    display: block;
    width: 80px;
}

img{
    width: 100%;
    min-height: 270px;
}
.inline{
    display: flex;
    width: 500px;
    justify-content: center;
}
.inline img{
    width: 20%;
    opacity: 0.2;
}
.inline img:hover{
    width: 50%;
    height: 50%;
    margin: 20px;
    border: 3px solid white;
    opacity: 1;
    transition: all 1s linear;
}

tr:first-child td{
    opacity: 1;
}
td{
    background-image: linear-gradient(to right top, navy, lightblue, navy);
    opacity: 0.5;
    color: black;
    font-size: 25px;
    border-radius: 15px;
    border: 3px double #162EAE;
}
td:hover{
    opacity: 1;
    transition: all 0.5s linear;
}
tr td:first-child{
    opacity: 1;
}
.bigarticle{
    width: 500px;
    display: block;
}
ol{
    font-size: 25px;
    text-align: left;
}
ul{
    font-size: 25px;
}

.article-but::before {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.article-but:hover::before {
    content: url("https://learn.algoritmika.org/uploads/2021/03/click-38743_1280%201_0_1614962641.png");
    width: 30px;
    height: 30px;
    display: inline-block;
}
.navigatia{
    text-decoration: none;
    background-color: white;
    position: fixed;
    left: 1000px;
    top: 20px;
    color: #162EAE;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 25px;
    width: 150px;
}
.navigatia:hover{
    background-color: #162EAE;
    color: white;
    transition: all 0.5s linear;
    border: 3px solid #162EAE;
}

.hidetext{
    text-align: left;
}

.hidetext span{
    display: none;
}
.hidetext:hover span{
    display: inline;
}
article{
    background-image: linear-gradient(to right top, navy, lightblue, navy);
    color: black;
}

.gradient{
    background-image: linear-gradient(to right top, navy, lightblue, navy);
    width: 750px;
    border-radius: 15px;
    color: black;
    padding: 15px;
}

h1{
    text-shadow: -4px 2px lightgrey,
    -8px 4px grey,
    -12px 6px black;
    letter-spacing: 5px;
    transition: all 1s linear;
}
header a:hover{
    text-shadow: -4px 2px lightgrey,
    -8px 4px grey,
    -12px 6px black;
    letter-spacing: 5px;
    transition: all 1s linear;
}
nav a:hover{
    text-shadow: -4px 2px grey,
    -8px 4px lightgrey,
    -12px 6px white;
    letter-spacing: 5px;
    transition: all 1s linear;
}
.headermusic{
    border: 15px ridge white;
    border-radius: 15px;
    width: 625px;
}
.headermusic p{
    width: 350px;
}
.headermusic iframe{
    margin: 5px;
}
.members{
    text-align: left;
    display: flex;
}
.members aside{
    margin: 5px;
    padding: 3px;
    border-radius: 15px;
    background-image: linear-gradient(to right top, navy, lightblue, navy);
    color: black;
    width: 250px;
}
.members aside p:first-child::before{
    content: url("https://static.tildacdn.com/tild3733-6334-4330-b630-313935323162/2a70dc9f-0567-40d6-8.png");
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.members aside p b{
    border-bottom: 3px dashed #162EAE;    
}
